// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.card {
    height: 25rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}