// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

#message-trigger {
    width: 100px;
}

img{
    height: 100%;
    object-fit: cover;
}

.logo{
    z-index: 10;
    width: 100px;
}


.card-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.card-index {
    height: 25rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.required{
    color: red;
}

.result {
    max-height: 130px;
    overflow-y: scroll;
}

.btn-customs{
   background-color: #B94545;
}
.text-customs{
    color: #B94545;
}


body{
    font-family: 'Poppins', sans-serif;
}


input:focus:valid {
    border: 2px solid green;
    outline: none;
}

input:focus:invalid {
    border: 2px solid red;
    outline: none;
}
