// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.required{
    color: red;
}

.prova{
 color:black
}


body{
    font-family: 'Poppins', sans-serif;
}
